<%- include("../partials/header") -%>

        <div class="module-header">
            <h4 class="module-title">Series overzicht</h4>
        </div>
        <div id="images" class="row" data-loaded="products">
            <% imageList.forEach(image => { %>
                <div class="col-sm col-md-4">
                    <div class="thumbnail">
                        <img src="<%= path %>/<%= image %>" alt="<%= image %>" id="<%= image %>">
                    </div>
                    <div class="caption">
                        <h5><%= image.split(".j",1) %></h5>
                    </div>
                </div>
            <% }); %>
        </div>
<script src="/js/main.js"></script>
<%- include("../partials/footer") -%>