<%- include("../partials/header") -%>

<div class="module-header">
    <h4 class="module-title">Edit: <%= foundSerie.title %></h4>
</div>
<form action="/series/<%= foundSerie.title %>?_method=PUT" method="post">
    <div class="row justify-content-around">
        <div class="col-md-8">
            <div class="accordion" id="series">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Serie details
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#series">
                        <div class="card-body">
                            <div class="row form-group justify-content-between">
                                <div class="col-md-2 align-self-center">
                                    <strong>Acteurs:</strong>
                                </div>
                                <div class="col-md-10 align-self-center">
                                    <input class="form-control" type="text" name="update[actors]" value="<%= foundSerie.actors %>">
                                </div>
                            </div>
                            <div class="row form-group justify-content-between">
                                <div class="col-md-2 align-self-center">
                                    <strong>Genres:</strong>
                                </div>
                                <div class="col-md-10 align-self-center">
                                    <input class="form-control" type="text" name="update[genre]" value="<%= foundSerie.genre %>">
                                </div>
                            </div>
                            <div class="row form-group justify-content-between">
                                <div class="col-md-2">
                                    <strong>Ondertitels:</strong>
                                </div>
                                <div class="col-md-3">
                                    <Select class="form-control" name="update[subs]">
                                        <option value="NL" <%= typeof foundSerie.subs !== 'undefined' && foundSerie.subs === 'NL' ? 'selected' : '' %>>Nederlands</option>
                                        <option value="EN" <%= typeof foundSerie.subs !== 'undefined' && foundSerie.subs === 'EN' ? 'selected' : '' %>>Engels</option>
                                        <option value="AN" <%= typeof foundSerie.subs !== 'undefined' && foundSerie.subs === 'AN' ? 'selected' : '' %>>Ander</option>
                                    </Select>
                                </div>
                                <div class="col-md-3">
                                    <strong>Classificatie:</strong>
                                </div>
                                <div class="col-md-4">
                                    <input class="form-control" type="text" name="update[classification]" value="<%= foundSerie.classification %>">
                                </div>
                            </div>
                            <div class="row form-group justify-content-between">
                                <div class="col-md-2 align-self-center">
                                    <strong>Status:</strong>
                                </div>
                                <div class="col-md-3 align-self-center">
                                    <Select class="form-control" name="update[status]">
                                        <option value="Actief" <%= typeof foundSerie.status !== 'undefined' && foundSerie.status === 'Actief' ? 'selected' : '' %>>Actief</option>
                                        <option value="Afgelopen" <%= typeof foundSerie.status !== 'undefined' && foundSerie.status === 'Afgelopen' ? 'selected' : '' %>>Afgelopen</option>
                                        <option value="On Hold" <%= typeof foundSerie.status !== 'undefined' && foundSerie.status === 'On Hold' ? 'selected' : '' %>>On Hold</option>
                                    </Select>
                                </div>
                                <div class="col-md-3 align-self-center">
                                    <strong>Huidig seiszoen:</strong>
                                </div>
                                <div class="col-md-4 align-self-center">
                                    <input class="form-control" type="number" name="update[currentSeason]" min="0" step="1" value="<%= foundSerie.currentSeason %>">
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <div class="col align-self-center">
                                    <strong>Plot:</strong>
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <div class="col align-self-center">
                                    <textarea class="form-control" name="update[plot]" cols="15" rows="3"><%= foundSerie.plot %></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Aanvullende gegevens
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#series">
                        <div class="card-body">
                            <div class="row form-group justify-content-between">
                                <div class="col-md-2 align-self-center">
                                    <strong>Regiseur:</strong>
                                </div>
                                <div class="col-md-10 align-self-center">
                                    <input class="form-control" type="text" name="update[director]" value="<%= foundSerie.director %>">
                                </div>
                            </div>
                            <div class="row form-group justify-content-between">
                                <div class="col-md-2 align-self-center">
                                    <strong>Jaren:</strong>
                                </div>
                                <div class="col-md-3 align-self-center">
                                    <input class="form-control" type="text" name="update[airDate]" value="<%= foundSerie.airDate %>">
                                </div>
                                <div class="col-md-2 align-self-center">
                                    <strong>IMDb:</strong>
                                </div>
                                <div class="col-md-2 align-self-center">
                                    <input class="form-control" type="number" name="update[ratingIMDb]" min="0" step="0.1" value="<%= foundSerie.ratingIMDb %>">
                                </div>
                                <div class="col-md-2 align-self-center">
                                    <input class="form-control justify-content-end" type="number" name="update[runningTime]" min="0" step="1" value="<%= foundSerie.runningTime %>">
                                </div>
                                <div class="col-md-1 align-self-center">
                                    min
                                </div>
                            </div>
                            <div class="row form-group justify-content-between">
                                <div class="col-md-2 align-self-center">
                                    <strong>Herkomst:</strong>
                                </div>
                                <div class="col-md-3 align-self-center">
                                    <input class="form-control" type="text" name="update[country]" value="<%= foundSerie.country %>">
                                </div>
                                <div class="col-md-3 align-self-center">
                                    <strong>Gesproken:</strong>
                                </div>
                                <div class="col-md-4 align-self-center">
                                    <Select class="form-control" name="update[language]">
                                        <option value="Nederlands" <%= typeof foundSerie.language !== 'undefined' && foundSerie.language === 'Nederlands' ? 'selected' : '' %>>Nederlands</option>
                                        <option value="Engels" <%= typeof foundSerie.language !== 'undefined' && foundSerie.language === 'Engels' ? 'selected' : '' %>>Engels</option>
                                        <option value="Duits" <%= typeof foundSerie.language !== 'undefined' && foundSerie.language === 'Duits' ? 'selected' : '' %>>Duits</option>
                                        <option value="Deens" <%= typeof foundSerie.language !== 'undefined' && foundSerie.language === 'Deens' ? 'selected' : '' %>>Deens</option>
                                        <option value="Frans" <%= typeof foundSerie.language !== 'undefined' && foundSerie.language === 'Frans' ? 'selected' : '' %>>Frans</option>
                                        <option value="Overig" <%= typeof foundSerie.language !== 'undefined' && foundSerie.language === 'Overig' ? 'selected' : '' %>>Overig</option>
                                    </Select>
                                </div>
                            </div>
                            <div class="row form-group justify-content-between">
                                <div class="col-md-2 align-self-center">
                                    <strong>Website:</strong>
                                </div>
                                <div class="col-md-10 align-self-center">
                                    <input class="form-control" type="text" name="update[url]" value="<%= foundSerie.url %>">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Persoonlijk
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#series">
                        <div class="card-body">
                            <div class="row form-group justify-content-between">
                                <div class="col-md-2 align-self-center">
                                    <strong>Locatie:</strong>
                                </div>
                                <div class="col-md-10 align-self-center">
                                    <input class="form-control" type="text" name="update[locationOnDisk]" value="<%= foundSerie.locationOnDisk %>">
                                </div>
                            </div>
                            <div class="row form-group justify-content-between">
                                <div class="col-md-2 align-self-center">
                                    <strong>Omvang:</strong>
                                </div>
                                <div class="col-md-2 align-self-center">
                                    <input class="form-control" type="number" name="update[sizeOnDisk]" min="0" step="1" value="<%= foundSerie.sizeOnDisk %>" >
                                </div>
                                <div class="col-md-1 align-self-center">
                                    GB
                                </div>
                                <div class="col-md-3 align-self-center">
                                    <strong>Volgende:</strong>
                                </div>
                                <div class="col-md-4 align-self-center">
                                    <input class="form-control" type="date" name="update[nextAirDate]" value="<%= foundSerie.nextAirDate.slice(-4) %>-<%= foundSerie.nextAirDate.split("-",2)[1] %>-<%= foundSerie.nextAirDate.slice(0,2) %>">
                                </div>
                            </div>
                            <div class="row form-group justify-content-between">
                                <div class="col-md-2 align-self-center">
                                    <strong>In Kodi:</strong>
                                </div>
                                <div class="col-md-3 align-self-center">
                                    <input type="checkbox" name="update[registerdInKodi]" <%=  foundSerie.registerdInKodi.toString() == "true" ? 'checked' : '' %>>
                                </div>

                                <div class="col-md-3 align-self-center">
                                    <strong>Serie totaal gezien:</strong>
                                </div>
                                <div class="col-md-4 align-self-center">
                                    <input type="checkbox" name="update[seenAllEpisodes]" <%=  foundSerie.seenAllEpisodes.toString() == "true" ? 'checked' : '' %>>
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <div class="col align-self-center">
                                    <strong>Persoonlijke notities:</strong>
                                </div>
                            </div>
                            <div class="row justify-content-between">
                                <div class="col align-self-center">
                                    <textarea class="form-control" name="update[personalNotes]" cols="15" rows="3"><%= foundSerie.personalNotes %></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row form-group">
                <div class="col">
                    <a class="form-control  but but-deep-brown" href="/series/<%= foundSerie.title %>">Terug</a>
                </div>
                <div class="col">
                    <input class="form-control  but but-deep-brown" type="reset" value="Herstellen">
                </div>
                <div class="col">
                    <input class="form-control  but but-deep-brown" type="submit" value="Bijwerken">
                </div>
            </div>
        </div>
        <div class="col-md-4 d-flex justify-content-end">
            <img src="<%= path %>/<%= foundSerie.title %>.jpg" alt="<%= foundSerie.title %>" width="300" height="460">
        </div>
    </div>
</form>
<%- include("../partials/footer") -%>