<%- include("../partials/header") -%>

<div class="module-header">
    <h4 class="module-title"><%= foundSerie[0].title %></h4>
</div>

<div class="row justify-content-around">
    <div class="col-md-8">
        <div class="accordion" id="series">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Serie details
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#series">
                    <div class="card-body">
                        <div class="row form-group justify-content-between">
                            <div class="col">
                                Omvang:
                            </div>
                            <div class="col">
                                <%= foundSerie[0].sizeOnDisk %> GB
                            </div>
                            <div class="col">
                                Ondertitels:
                            </div>
                            <div class="col">
                                <% if(foundSerie[0].subs == "NL") { %>
                                    <%= "Nederlands" %>
                                <% } else if(foundSerie[0].subs == "EN") { %>
                                    <%= "Engels" %>
                                <% } %>
                            </div>
                        </div>
                        <div class="row form-group justify-content-between">
                            <div class="col align-self-center">
                                Status:
                            </div>
                            <div class="col align-self-center">
                                <%= foundSerie[0].status %>
                            </div>
                            <div class="col align-self-center">
                                Huidig seiszoen:
                            </div>
                            <div class="col align-self-center">
                                <%= foundSerie[0].currentSeason %>
                            </div>
                        </div>
                        <div class="row form-group justify-content-between">
                            <div class="col-md-3 align-self-center">
                                Acteurs:
                            </div>
                            <div class="col-md-9 align-self-center">
                                <%= foundSerie[0].actors %>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col align-self-center">
                                Plot:
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col align-self-center">
                                <%= foundSerie[0].plot %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Aanvullende gegevens
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#series">
                    <div class="card-body">
                        <div class="row form-group justify-content-between">
                            <div class="col-md-3 align-self-center">
                                Regiseur:
                            </div>
                            <div class="col-md-9 align-self-center">
                                <%= foundSerie[0].director %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
        <img src="<%= path %>/<%= foundSerie[0].title %>.jpg" alt="<%= foundSerie[0].title %>">
    </div>
</div>

<%- include("../partials/footer") -%>