<%- include("../partials/header") -%>

<div class="module-header">
    <h4 class="module-title"><%= foundSerie[0].title %></h4>
</div>

<div class="row justify-content-around">
    <div class="col-md-8">
        <div class="accordion" id="series">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Serie details
                        </button>
                    </h2>
                </div>
                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#series">
                    <div class="card-body">
                        <div class="row form-group justify-content-between">
                            <div class="col-md-2 align-self-center">
                                <strong>Acteurs:</strong>
                            </div>
                            <div class="col-md-10 align-self-center">
                                <%= foundSerie[0].actors %>
                            </div>
                        </div>
                        <div class="row form-group justify-content-between">
                            <div class="col-md-2 align-self-center">
                                <strong>Genres:</strong>
                            </div>
                            <div class="col-md-10 align-self-center">
                                <%= foundSerie[0].genre %>
                            </div>
                        </div>
                        <div class="row form-group justify-content-between">
                            <div class="col-md-2">
                                <strong>Ondertitels:</strong>
                            </div>
                            <div class="col-md-3">
                                <% if(foundSerie[0].subs == "NL") { %>
                                    Nederlands
                                <% } else if(foundSerie[0].subs == "EN") { %>
                                    Engels
                                <% } else { %>
                                    Ander
                                <% } %>
                            </div>
                            <div class="col-md-3">
                                <strong>Classificatie:</strong>
                            </div>
                            <div class="col-md-4">
                                <%= foundSerie[0].classification %>
                            </div>
                        </div>
                        <div class="row form-group justify-content-between">
                            <div class="col-md-2 align-self-center">
                                <strong>Status:</strong>
                            </div>
                            <div class="col-md-3 align-self-center">
                                <%= foundSerie[0].status %>
                            </div>
                            <div class="col-md-3 align-self-center">
                                <strong>Huidig seiszoen:</strong>
                            </div>
                            <div class="col-md-4 align-self-center">
                                <%= foundSerie[0].currentSeason %>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col align-self-center">
                                <strong>Plot:</strong>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col align-self-center">
                                <%= foundSerie[0].plot %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Aanvullende gegevens
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#series">
                    <div class="card-body">
                        <div class="row form-group justify-content-between">
                            <div class="col-md-2 align-self-center">
                                <strong>Regiseur:</strong>
                            </div>
                            <div class="col-md-10 align-self-center">
                                <%= foundSerie[0].director %>
                            </div>
                        </div>
                        <div class="row form-group justify-content-between">
                            <div class="col-md-2 align-self-center">
                                <strong>Jaren:</strong>
                            </div>
                            <div class="col-md-3 align-self-center">
                                <<%= foundSerie[0].airDate %>
                            </div>
                            <div class="col-md-2 align-self-center">
                                <strong>IMDb:</strong>
                            </div>
                            <div class="col-md-1 align-self-center">
                                <%= foundSerie[0].ratingIMDb %>
                            </div>
                            <div class="col-md-2 align-self-center">
                               <strong>Speelduur:</strong>
                            </div>
                            <div class="col-md-2 align-self-center">
                                <%= foundSerie[0].runningTime %> min
                            </div>
                        </div>
                        <div class="row form-group justify-content-between">
                            <div class="col-md-2 align-self-center">
                                <strong>Herkomst:</strong>
                            </div>
                            <div class="col-md-3 align-self-center">
                                <%= foundSerie[0].country %>
                            </div>
                            <div class="col-md-3 align-self-center">
                                <strong>Gesproken:</strong>
                            </div>
                            <div class="col-md-4 align-self-center">
                                <%= foundSerie[0].language %>
                            </div>
                        </div>
                        <div class="row form-group justify-content-between">
                            <div class="col-md-2 align-self-center">
                                <strong>Website:</strong>
                            </div>
                            <div class="col-md-10 align-self-center">
                                <a href="<%= foundSerie[0].url %>" target="_Blank"><%= foundSerie[0].url %></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Persoonlijk
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#series">
                    <div class="card-body">
                        <div class="row form-group justify-content-between">
                            <div class="col-md-2 align-self-center">
                                <strong>Pad op schijf:</strong>
                            </div>
                            <div class="col-md-10 align-self-center">
                                <%= foundSerie[0].locationOnDisk %>
                            </div>
                        </div>
                        <div class="row form-group justify-content-between">
                            <div class="col-md-2 align-self-center">
                                <strong>Omvang:</strong>
                            </div>
                            <div class="col-md-2 align-self-center">
                                <%= foundSerie[0].sizeOnDisk %>
                            </div>
                            <div class="col-md-1 align-self-center">
                                GB
                            </div>
                            <div class="col-md-3 align-self-center">
                                <strong>Volgende:</strong>
                            </div>
                            <div class="col-md-4 align-self-center">
                                <%= foundSerie[0].nextAirDate.slice(-4) %>-<%= foundSerie[0].nextAirDate.split("-",2)[1] %>-<%= foundSerie[0].nextAirDate.slice(0,2) %>
                            </div>
                        </div>
                        <div class="row form-group justify-content-between">
                            <div class="col-md-2 align-self-center">
                                <strong>In Kodi:</strong>
                            </div>
                            <div class="col-md-3 align-self-center">
                                <%=  foundSerie[0].registerdInKodi.toString() == "true" ? 'Correct' : '' %>
                            </div>

                            <div class="col-md-3 align-self-center">
                                <strong>Serie totaal gezien:</strong>
                            </div>
                            <div class="col-md-4 align-self-center">
                                <%=  foundSerie[0].seenAllEpisodes.toString() == "true" ? 'Correct' : '' %>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col align-self-center">
                                <strong>Persoonlijke notities:</strong>
                            </div>
                        </div>
                        <div class="row justify-content-between">
                            <div class="col align-self-center">
                                <%= foundSerie[0].personalNotes %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 d-flex justify-content-end">
        <img src="<%= path %>/<%= foundSerie[0].title %>.jpg" alt="<%= foundSerie[0].title %>" width="300" height="460">
    </div>
</div>

<%- include("../partials/footer") -%>